body {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  color: #fff;
}

button {
  cursor: pointer;
}

.road-view {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 20px auto;
  background: #555;
  overflow: hidden;
}

.matatu {
  position: absolute;
  bottom: 10px;
  font-size: 2rem;
}

.obstacle, .passenger {
  position: absolute;
  font-size: 2rem;
}
